.App {
  min-height: 100%;
  position: relative;
}

.LandingBody {
  padding: 10px;
  padding-bottom: 60px;
}

.sticky-wrap{
	display:flex;
	flex-direction:column;
	min-height:95vh
}

.footer {
  margin-top:auto
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}
